.center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.center-col{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.gap {
    gap: 100px;
    margin-top: 15px;
    margin-bottom: 15px;

}
.center a{
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: small;
    color: #7f8c8d;
}
.center a:hover{
    color: black;
}
.profile{
    width: 15%;
    border-radius:50%;
}
.heading{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: darkblue;
}
.para{
    width: 70%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: blue;
}
.gall{
    gap: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.image{
    width: 20%;
}
.underline{
    text-decoration: underline;
}